@font-face {
    font-family: ‘Alfares’;
    src: local('Alfares'), url(Alfares.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
 
}

@font-face {
    font-family: ‘AGA-Cairo-Regular’;
    src: local('AGA-Cairo-Regular'), url(AGA-Cairo-Regular.ttf) format('truetype');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
 
}

